<% provide(:title, 'Search result') %>
<% @gists = @search.send %>

<h1><%= yield :title %></h1>

<% if @gists.empty? %>
    <p>No results</p>
<% else %>
    <%= @gists.each do |gist| %>
        <p><%= gist.name %></p>
    <% end %>
<% end %>
