<% provide(:title, 'Search result') %>
<% @gists = @search.send_req %>

<h1><%= yield :title %></h1>

<% if @gists.empty? %>
    <p>No results</p>
<% else %>
    <%= @gists.each do |gist| %>
        <%= puts gist %>
    <% end %>
<% end %>
